.profile-page {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.profile-header {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h2 {
  font-weight: 500;
}

.profile-stats {
  display: flex;
  gap: 25px;
  margin: 15px 0;
}

.profile-bio p {
  margin: 2px 0;
}

/* POSTS GRID */
.profile-posts {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.profile-posts img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}
