.register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.register-box {
  width: 350px;
  padding: 30px;
  border: 1px solid #dbdbdb;
  text-align: center;
  background: white;
  border-radius: 5px;
}

.register-logo {
  width: 180px;
  margin-bottom: 20px;
}

.top-text {
  font-size: 14px;
  color: #737373;
  margin-bottom: 15px;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 14px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: #0095f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.login-redirect-box {
  width: 350px;
  padding: 20px;
  text-align: center;
  border: 1px solid #dbdbdb;
  background: white;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 14px;
}

.login-redirect-btn {
  background: none;
  border: none;
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
}

.login-redirect-btn:hover {
  text-decoration: underline;
}
